@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

/* head */
body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
    display: flex;
   padding-top: 10px;
   padding-bottom: 10px;
  /* justify-content: ; */
}



.header-block {
    background-color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
   
  
}


.nav-element {
    margin-right: 56px;
   
}


.nav-link-active::before {
    position: absolute;
    content: "";
    background-color: #FF7129; 
    width: 10px;
    height: 1px;
    left: -8px;
    top: 10px;
   
      
}  

.nav-link-active::after {
    position: absolute;
    content: "";
    background-color: #FF7129; 
    width: 10px;
    height: 1px;
    right: -18px;
    top: 10px;
}
     

.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding-left: 8px;
    padding-right: 0 auto;
    position: relative;
   
   
    

}


.nav-link,
.nav-element {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #20242D;
}



.nav-element:last-child {
    margin: 0;
}

.nav-link {
    text-decoration: none;
}

.nav-link-active {
    color: #FF7129;
}


.menu-link,
.menu-element {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;;  
}

.menu-element {
    margin-right: 56px; 
}

.menu-element:last-child {
    margin: 0;
}

.menu-link {
    text-decoration: none;
}

.menu-link-active {
    color: #FF7129;
}


/* main */
main {
    margin: 0;
    padding: 0; 
}

.dg img {

}

.solar img {

}

.energy img {

}

.section-title-first {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    
    color:  #FFFFFF;
    margin: 0;
   
}


.info-text-first {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
   
    color:  #FFFFFF;


}

.orange {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF; 
    background: #FF7129;
    margin-left: 700px;
    margin-right: 707px;
    width: 187px;
    height: 49px;
    ;

   
 

   
    padding-right:47px ;
    padding-left: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
   
}




.solar-panels {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;  
    

}

.list-item {
    background: #F2F2F2;
    padding-left: 57px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
    margin-bottom: 16px;
}

.return-investment {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;
    width: 650px;
    background: #F5F5F5;
    padding: 16px 24px;

    /* padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px; */

}

.gray {
  
  width: 698px;
  height: 122px;
}


.gray-list-solar {
   /* margin-left: 24px;
   margin-top: 24px; */

  padding: 0;
  margin: 0;
  list-style: none;
}


.gray-lis {
    padding-left: 450px;
    padding-right: 450px; 
}

.highlighted {
    color: #FF7129; 
}

.pfoto-paneli {
    display: block;
  
    /* width: 335px;
    height: 251px; */
   
}


.wrapper-pfoto-paneli {
    display: flex;
    margin: 0 auto;
    max-width: 699px;
    justify-content: space-between;

}



.pfoto-instalacja {
     width: 700px;
    height: 282px;
    padding-top: 24px;
    padding-bottom: 24px;
}



.tvij-dim img {
  
 
  
  
}

.section-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    margin-left: 45px;
    margin-right: 228px; 
}   

.info-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
  
   

}



.navugatuon-blok {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dg img {

}



.button-transparent {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    border: 1px solid #FF7129;
    text-align: center;
    
    color: #FFFFFF;
     
}



.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
/* identical to box height */

    text-align: center;



color: #7B7E85;
}


body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;

}

.contact-link {
    color: #FFFFFF;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    position: relative;
     
}

.contact-link-mail {
    color: #FFFFFF;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-right: 77px;
    text-decoration: none;
   
       
}

.contact-link-mail::before {
    background-image: url('../img/meil.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: -22px;
    
    
}


.contact-link-tel {
    color: #FFFFFF;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none; 
    
}

.contact-link-tel::before {
    background: url('../img/tel.svg') no-repeat left center; 
    position: absolute;
    content: "";
    width: 10.5px;
    height: 10.5px; 
    left: -22px;
    
   
}

.nav-link {
    text-decoration: none;
}

.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}

main {
    margin: 0;
    padding: 0; 
}
.photo-o-nas {
    background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url('../img/about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    margin: 0 auto;
    padding-bottom: 103px;
    padding-top: 57px;
   max-width: 1660px;
}

.info-heading {
    
}

.info-welcome {
    background-color: #20242D;
}

.section-info-wrapper {
    background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 290px;
    padding-top: 271px;
    position: relative;
}

.section-info-wrapper::before {
    position: absolute;
    content: "";
    width: 380px;
    height: 145px;
    background-image: url('../img/solat-text.svg');
    background-repeat: no-repeat;
    z-index: 1;
    top: 167px;
    left: 50px;
}

.section-info-wrapper::after {
    position: absolute;
    content: "";
    width: 444px;
    height: 145px;
    background-image: url("../img/energy-tex.svg");
    background-repeat: no-repeat;
    z-index: 1;
    top: 417px;
    right: 50px;
}




.dg img {

}

.introductory-info {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    
    color: #FFFFFF;
    margin: 0;
   padding-left: 217px; 
   padding-top: 200px;  
   padding-bottom: 103px; 
}

.wrapper-info {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    
}







.dg img {

}



.button-transparent {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
   
    
    text-align: center;
    
    color: #FFFFFF;
    background:transparent;
     
}


.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;


    text-align: center;



    color: #7B7E85;
}

body {
    margin: 0;
    padding: 0;
}



.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
}








.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}


main {
    margin: 0;
    padding: 0; 
}


.photo-gallery {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    padding-left: 200px;


}





.button-transparent {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    text-align: center;
    
    color: #FFFFFF;
     
}


.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #7B7E85;
}



.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
}




.logo img {
 
}


.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

main {
    margin: 0;
    padding: 0; 
}

.info-description {
  display: block;
  padding-top: 120px;
  
 
}

.info-description-next {
    display: block;
    padding-top: 64px;  
}

.info-description-gray {
    display: block;
    padding-top: 66px;
   
}


.gray-two {
    background: #F2F2F2;
    padding: 32px 24px;
}

.gray-two .solar-panel-info {
    padding: 0;
    margin: 0;
} 


.navigation {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    background-color: #20242D;
}

.address {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
    white-space: nowrap;
    width: 420px;
}
    



.address-kontakt {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
    padding-left:14px ;
  
    
}


.E-mail {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
   

}


.mail-to {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
    padding-left: 14px;
    
}


.Telefon {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
    
    
    
    
}

.telefon-kontakt {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
    padding-left: 14px;
    
    

}


.iframe {
    position: absolute;
    width: 800px;
    height: 543px;
    left: 800px;
    top: 330px;
    background: url(.png);
    
}


.container-wrapper {
    display: flex;
   max-width: 1200px;
   margin-left: 173px;
}

.wrapper-address {
    height: 258px;
    width: 448px;
    margin-left: 28px;
    margin-top: 31px;
    padding-bottom: 174px;
    padding-right: 151px; 
  
    
}

.map {
  
    margin-left: 134px;
    background: url(image.png);
}

.distance {
    margin-bottom: 54px;
}


.dg img {

}



.button-transparent-open-popup {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
   
    
    text-align: center;
    
    color: #FFFFFF;
     
}

.infirming-confidentiality {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    text-align: center;
    color: #7B7E85;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 24px;
}

.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;


    text-align: center;
    color: #7B7E85;
    
}


.politics-confidentiality {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
   
    
    text-align: center;
    
   
    
    color: #7B7E85;
    
     
}



body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    order: -1;
}

.header-block-main {
    background-color: #20242D;
    order: -2;
}








 
    
    
    

/* .intro {
    background-image: url("../img/bg.jpg");
}


.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.active {
    color: #FF7129;
} */



.section-title-small {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;   
    margin: 0; 
    padding-left: 16px;

    position: relative;
}

.section-title-small::before {
    position: absolute;
    content: "";

    background: #FF7129;
    width: 1px;
    height: 42px;
    left: 0;
    top: 0;
}

.installation-panels {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    /* identical to box height */
     color: #FFFFFF;
     padding-left: 451px;
    
}



.info-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    margin-left: 28px;
    

}


.solar-panel-info {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    padding-bottom: 24px;
    padding-top: 24px;

    

}



.contact-link:first-child {
    margin-right: auto;
}

.contact-link {
    margin-right: 77px;

}

.contact-link:last-child {
    margin-right: 0;
}




.info-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 133px;
    margin-bottom: 115px;
}


.page-header {
    display: flex;
    flex-direction: column;
}

  
.menu-list {
    display: flex;
    list-style: none;
}


.panels {
    display: block;
}


.instalacja {
  background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%,  rgba(32, 36, 45, 0.3), #20242D 100%), url(../img/instalacja.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0 auto;
  padding-bottom: 163px;
  padding-top: 162px;
  width: 1600px;
 
}


.photo {
   
    width: 700px;
    height: 282px;
  
}

.wrapper-info-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1134px;
    padding-top: 80px;
    padding-bottom: 134px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* main */

    color: #20242D;
}


.photo-work {
   display: flex;
   justify-content: space-around;
    width: 1019px;
    height: 532px;
    left: 299px;
    top: 300px;
    padding-bottom: 153px;
    padding-left: 35px;

    background: url(IMG_20201005_121850.jpg);
    }

.pfoto-projekty {
    width: 1019px;
    height: 532px;
    left: 299px;
    top: 300px;
    
    background: url(IMG_20201005_121850.jpg);
    
}


.wrapper-info-flex .info-description {
    max-width: 500px;
}


/*  попап*/

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(32, 36, 45, 0.9);
 
   display: block;
   display: flex;
   justify-content: center;
   
} 


.modal-wrapper::before {
   
    position: fixed;
    content: "";
    width: 471px;
    height: 71px;
   
    background-image: url('../img/callback.svg');
    background-repeat: no-repeat;
    z-index: 1;
    top: 120px;
    left: 432px;

}

.feedback {
    position: relative; 
    width: 800px;
    height: 516px;
    background-color: #FFFFFF;
  
    margin-left: 400px;
    margin-bottom: 1771px;
    margin-right: 400px;
    margin-top: 92px;
     
}

.call-me-back {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    padding-top: 69px;
    padding-left: 75px;
    padding-right: 218px;
 
  

    
  
   
  

    
}

.call-me-back::after {
    position: absolute;
    content: "";
    background: #FF7129;
    width: 1px; 
    height: 52px; 
    left: 58px; 
   

  
}

  



.feedback-call {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
  
    width: 668px;
    top: 163px;
    padding-left: 58px;
   
}


.input-name {
    display: block;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7B7E85;
}

.text-name {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;

    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 17px;
    padding-right: 144px;
 

}
input[type="text-name"] {
    border: 1px solid #E0E0E0; 
    box-sizing: border-box;
    outline: none;
    height: 52px;
    width: 327px;    
}


.input-tel {
    display: block;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
  
    
   
}


.text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}


input[type="text"] {
    border: 1px solid #E0E0E0; 
    box-sizing: border-box;
    outline: none;
    height: 52px;
    width: 327px;
   
}


.orange-Zadzwoń {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF; 
    background: #FF7129;
    display: block;
    margin-left: 59px;
    margin-right: 554px;
    margin-top: 40px;
    margin-bottom: 72px;
    width: 187px;
   
 
    padding-right:47px ;
    padding-left: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
   
}

.close-feedback {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #FFFFFF;
    cursor: pointer;
}

.label-wrapper {
    display: flex;
    padding: 0 58px;
}