@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
}

.contact-link {
    color: #FFFFFF;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    text-decoration: none;
}

.header-block {
    background-color: #FFFFFF;
   ;
}

.logo img {

}


.nav-element {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #20242D;
}

.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}


/* .intro {
    background-image: url("../img/bg.jpg");
}


.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.active {
    color: #FF7129;
} */