@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

/* head */
body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
    display: flex;
   padding-top: 10px;
   padding-bottom: 10px;
  /* justify-content: ; */
}



.header-block {
    background-color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
  
}



.nav-link,
.nav-element {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #20242D;
}

.nav-element {
    margin-right: 56px;
}

.nav-element:last-child {
    margin: 0;
}

.nav-link {
    text-decoration: none;
}

.nav-link-active {
    color: #FF7129;
}


.menu-link,
.menu-element {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;;  
}

.menu-element {
    margin-right: 56px; 
}

.menu-element:last-child {
    margin: 0;
}

.menu-link {
    text-decoration: none;
}

.menu-link-active {
    color: #FF7129;
}


/* main */
main {
    margin: 0;
    padding: 0; 
}

.dg img {

}

.solar img {

}

.energy img {

}

.section-title-first {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    
    color:  #FFFFFF;
    margin: 0;
   
}


.info-text-first {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    
    color:  #FFFFFF;


}


.orange {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF; 
    background: #FF7129;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    padding-right:47px ;
    padding-left: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
}


.pfoto-paneli {

}

.tvij-dim img {
  
 
  
  
}

.section-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    margin-left: 45px;
    margin-right: 228px; 
}   

.info-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
  
   

}



.navugatuon-blok {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dg img {

}



.button-transparent {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
     
}



.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
/* identical to box height */

    text-align: center;



color: #7B7E85;
}


body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;

}

.contact-link {
    color: #FFFFFF;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
  
}



.nav-link {
    text-decoration: none;
}

.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}

main {
    margin: 0;
    padding: 0; 
}

.info {

}

.info-welcome {
    background-color: #20242D;
}

.section-info-wrapper {
    background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 290px;
    padding-top: 271px;
}

.dg img {

}

.introductory-info {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    /* identical to box height, or 47px */
    color: #20242D;
   margin-left: 217px;
    
}

.wrapper-info {
    
}


.info-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
/* or 150% */
 color: #20242D;

}





.dg img {

}



.button-transparent {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
     
}


.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
/* identical to box height */

    text-align: center;



    color: #7B7E85;
}

body {
    margin: 0;
    padding: 0;
}



.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
}








.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}


main {
    margin: 0;
    padding: 0; 
}


.photo-gallery {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;

}



.button-transparent {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    text-align: center;
    
    color: #FFFFFF;
     
}


.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #7B7E85;
}



.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
}




.logo img {
 
    

}


.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}

main {
    margin: 0;
    padding: 0; 
}

.info {

}

.navigation {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    margin-top: 125px;
    background-color: #20242D;
}

.address {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
  
    
 
    
}

.address-kontakt {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
   color: #20242D;
   margin-top: 149px;
   margin-left: 201px;
}


.email {
    ont-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;


}

.mail-to {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
    
    
 
   
}


.tel {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;

    
}

.telefon-kontakt {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;

}





.dg img {

}



.button-transparent {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
     
}

.infirming-confidentiality {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
/* identical to box height */
    text-align: center;
    color: #7B7E85;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 24px;
}

.data-protection {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
/* identical to box height */

    text-align: center;
    color: #7B7E85;
    
}


.politics-confidentiality {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    text-align: center;
    
    /* 4 */
    
    color: #7B7E85;
    
     
}
























body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.header-block-main {
    background-color: #20242D;
}





.nav-link-active {
    color: #FF7129;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}

/* .intro {
    background-image: url("../img/bg.jpg");
}


.header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.active {
    color: #FF7129;
} */







.section-title-small {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;
    margin-right: 467px;
    margin-left: 591px;
    
}

.installation-panels {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.installation-panels {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
}

.info-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    margin-top: 180px;
    margin-left: 28px;

}

.return-investment {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;

}

.solar-panel-info {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    

}

.solar-panels {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;

}

.contact-link:first-child {
    margin-right: auto;
}

.contact-link {
    margin-right: 77px;
}

.contact-link:last-child {
    margin-right: 0;
}




.info-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}


.page-header {

}

  
.menu-list {
    display: flex;
    list-style: none;
}





